<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
 
  <!--<appSettings>
    <add key="ConnectTokenKey" value="Tpy6EEs9W1cZ4plAEIormh2tEsNOkNk4"/>
    <add key="ForMobileJson" value="1"/>
    <add key="OdataUrl" value="https://stagingpartners.reelcinemas.ae/WSVistaWebClient/Odata.svc"/>        
    <add key="FilePath" value="C:\Users\ssiddagowni.dicetek\Source\Repos\EEG-ReelCinemasRESTAPI\EEG-ReelCinemasWebsite"/>
    <add key="FileArchive" value="C:\Users\ssiddagowni.dicetek\Source\Repos\EEG-ReelCinemasRESTAPI\EEG-ReelCinemasWebsite\OldData"/>
    <add key="EnableErrorLog" value="Y"/>
    <add key="EnableInfoLog" value="N"/>
    <add key="MoviesSessionFileName" value="MoviesSession"/>
    <add key="MoviesSessionFileForMobile" value="MoviesSession_MobileApp"/>
    <add key="SessionsFileName" value="Sessions"/>
    <add key="ComingSoonFileName" value="ComingSoon"/>
    <add key="MoviesList" value="MoviesList"/>
    <add key="EnableInfoLog" value="N"/>
    <add key="TrailerPath" value="http://staging.reelcinemasnew.ae/Images/Movies/trailers/"/>
    <add key="TrailerPath" value="http://www.reelcinemas.ae/en/KeyArts/Tarilers/"/>
    <add key="VideoFormat" value="video/x-flv"/>
    <add key="VideoFormat" value="video/mp4"/>
  </appSettings>-->
  <appSettings>
    <add key="ConnectTokenKey" value="vwfRvB9SfcJQMcXE9nGePxuUJm2UDW1KWTEsTexyw_YnZp_KiserTg=="/>
    <add key="ConnectTokenKey" value="ijv9zjccJh7Y7IqKkPJuqhb3ZWp2GYA0"/>
    <add key="ForMobileJson" value="1"/>
    <add key="OdataUrl" value="http://10.207.67.62/WSVistaWebClient/Odata.svc"/>
    <add key="FilePath" value="E:\Web\EEG-ReelCinemasRESTAPI"/>
    <add key="FileArchive" value="C:\Sajid\OldData"/>
    <add key="EnableErrorLog" value="Y"/>
    <add key="EnableInfoLog" value="N"/>
    <add key="MoviesSessionFileName" value="MoviesSession"/>
    <add key="MoviesSessionFileForMobile" value="MoviesSession_MobileApp"/>
    <add key="SessionsFileName" value="Sessions"/>
    <add key="ComingSoonFileName" value="ComingSoon"/>
    <add key="MoviesList" value="MoviesList"/>
    <add key="EnableInfoLog" value="N"/>
    <add key="TrailerPath" value="http://staging.reelcinemasnew.ae/Images/Movies/trailers/"/>
    <add key="TrailerPath" value="http://www.reelcinemas.ae/en/KeyArts/Tarilers/"/>
    <add key="VideoFormat" value="video/x-flv"/>
    <add key="VideoFormat" value="video/mp4"/>
  </appSettings>
</configuration>