<appSettings>
  <!--staging settings start -->

  <add key="IsMaintenance" value="0"/>
  <add key="IsInstallmentPaymentAllow" value="0"/>
  <add key="AllowIPs" value="10.67.31.94,10.67.31.76" />
  <!-- Service Settings  start-->
  <!--<add key="EServiceUrl" value="http://soastage.emaar.ae/soa-infra/services/eServMobile/eServicesMobileProject/eservicesmobileprocess_client_ep" />-->
  <add key="EServiceUrl" value="http://soastage.emaar.ae/soa-infra/services/eServMobile/eServicesMobileProject/eservicesmobileprocess_client_ep" />
  <add key="NOCServiceUrl" value="http://soastage.emaar.ae/soa-infra/services/eServMobile/eServiceNOCProject/nocupdateprocess_client_ep"/>
  <!--<add key="NOCServiceUrl" value="http://soastage.emaar.ae/soa-infra/services/test/eServiceNOCProject/nocupdateprocess_client_ep"/>-->
  <add key="ElectronicPaymentServiceUrl" value="http://soastage.emaar.ae/soa-infra/services/eServMobile/eServicesPmntProject/esrvspmntprocess_client_ep" />
  <add key="ElectronicPaymentReceiptGeneration" value="http://soastage.emaar.ae/soa-infra/services/sales/ARServicesProject/arservicesprocess_client_ep" />
  <add key="ElectronicPaymentVPCTransactionUpdate" value="http://soastage.emaar.ae/soa-infra/services/eServMobile/eServicesAsyncPmntProject/eSrvsAsyncPmntGatewayProcess" />
  <add key="EserviceSRUpdate" value= "http://soastage.emaar.ae/soa-infra/services/eServMobile/eService_PkgProcedure/ProcedureClient" />
  <add key="SrPaymentUpdateService" value= "http://soastage.emaar.ae/soa-infra/services/eServMobile/eServiceExtnProject/eserviceextnprocess_client_ep" />

  <add key="SVEST_ValidateAgent" value="http://soastage.emaar.ae:80/soa-infra/services/eServMobile/eServiceSVESTvalidateAgent/eservicesvestvalidateagent_client_ep"/>
  <add key="SVEST_CreateKYC"     value="http://soastage.emaar.ae:80/soa-infra/services/eServMobile/eServicesSVESTcustomerKYC/eservicessvestcustomerkyc_client_ep"/>
  <add key="ReplyToEmail" value="NoReply@emaar.ae" />
  
  <add key="FromEmail" value="NoReply@emaar.ae" />
  <add key="SMTP.Server" value="10.67.50.67" />
  <add key="SMTP.UserId" value="" />
  <add key="SMTP.Password" value="" />
  <add key="SendOTPEmailBySMTP" value="0"/>


  <add key="SrListingUrl" value= "http://soastage.emaar.ae:80/soa-infra/services/eServMobile/eServiceExtnProject/eserviceextnprocess_client_ep" />
  <!--<add key="SrListingUrl" value= "http://soastage.emaar.ae/soa-infra/services/test/eServiceExtnProject/eserviceextnprocess_client_ep" />-->

  <add key="BkSrUrl" value= "http://soastage.emaar.ae/soa-infra/services/crm/CRMServicesProject/crmservicesprocess_client" />
  <add key="OracleSrUpdateService" value="http://soastage.emaar.ae:80/soa-infra/services/crm/CRMServicesProject/crmservicesprocess_client" />

  <add key="FileNetRestServiceUrl" value="http://soastage.emaar.ae/FileUploadServiceV1/FileUpload" />

  <!-- tBits Staging URL-->
  <add key="tBitsKey" value="i1j3hu3ghiuguirgh89fy8jfuiyf873" />
  <!--<add key="tBitsServiceUrlForPDF" value="http://falcon.mytbits.com/falcon-rdca/rest/rdcaService/pdfiddocument" />
  <add key="tBitsServiceUrlForImage" value="http://falcon.mytbits.com/falcon-rdca/rest/rdcaService/passportsIds" />-->

  <!-- tBits Production URL-->
  <add key="tBitsServiceUrlForPDF" value="https://tbits.emaar.com/falcon-rdca/rest/rdcaService/pdfiddocument" />
  <add key="tBitsServiceUrlForImage" value="https://tbits.emaar.com/falcon-rdca/rest/rdcaService/passportsIds" />

  <add key="URLEndPoint" value="http://soastage.emaar.ae/FileUploadServiceV1/DownloadFile?"/>

  <add key="NocPaymentProcess" value="http://soastage.emaar.ae/soa-infra/services/eServMobile/eServicesInvoicePmntProject/EPmntProcessPmntRespSrvc_2" />
  <add key="NocPostPayment" value="http://soastage.emaar.ae/soa-infra/services/eServMobile/eServiceNOCPostPymtActionsProject/nocpostpymtactionsprocess_client_ep" />

  <!-- Statement of Account Sakani-->
  <add key="StatementofAccountSakani" value="http://soastage.emaar.ae/soa-infra/services/eServMobile/eServicesMobileProject/sakaniwrappperservice_client_ep" />
  <add key="SakaniUserName" value="n+Y11UIfhjWJL5jrE3N7cIRtDKtTwJUXgW87yzNHWDQ=" />
  <add key="SakaniUserPassword" value="n+Y11UIfhjWJL5jrE3N7cGCs5iWHChxlvDFTbPbBoBE=" />
  <!-- Statement of Account Sakani-->

  <!--<add key="ServiceUserName" value="726ee664f602e011b13a136f55d504cd" />
  <add key="ServicePassword" value="6afd22ae4fca000a3c7e5a9a41e3d7f3" />-->

  <add key="ServiceUserName" value="6ce3ba4a9e24e16f41730518b3c8698b" />
  <add key="ServicePassword" value="c759ebe768e3bad142471c9aad5ae1bc" />

  <add key="UrlScheme" value="http"/>

  <add key="AltRequestUnderMaintenance" value="0"/>
  <add key="AltRequestAccessEmail" value="prashantk@emaar.ae"/>

  <add key="NonApartmentPropertyType" value="VILLA"/>
  <add key="VillaPropertyType" value="VILLA,TOWNHOUSE,CLUSTER HOMES,PLOT"/>
  <add key="DesignRequestSrType" value="Request for Design NOC"/>
  <!-- Login  request start -->
  <add key="CreateAccountSource" value="ESERVICE"/>
  <add key="LoginSource" value="ESERVICES_WEB"/>
  <add key="MaxAuthFailedAttempts" value="2"/>

  <add key="ProfileUploadFolder" value="/Content/ProfileImages"/>

  <add key="TermsAndConditionsCriteria" value="HANDOVER_STATUS=Y,COMMUNITY=BURJ KHALIFA#https://eservice.emaar.com/home/tc/pdf/TRANSFER_HANDED_OVER_BURJ_DUBAI_TALL_TOWER.pdf|HANDOVER_STATUS=Y,COMMUNITY=MARINA PLAZA#https://eservice.emaar.com/home/tc/pdf/TRANSFER_HANDED_OVER_MARINA_PLAZA.pdf|HANDOVER_STATUS=Y,TYPE=VILLA,TOWNHOUSE,CLUSTER HOMES#https://eservice.emaar.com/home/tc/pdf/TRANSFER_HANDED_OVER_ALL_VILLA_GENERAL.pdf|HANDOVER_STATUS=Y#https://eservice.emaar.com/home/tc/pdf/TRANSFER_HANDED_OVER_ALL_UNITS_GENERAL.pdf|HANDOVER_STATUS=N#https://eservice.emaar.com/home/tc/pdf/TRANSFER_NOT_HANDED_OVER_ALL_PROPERTIES.pdf" />
  <!-- Login  request end -->

  <!--API URL for Customer calendar application Starts here-->
  <add key="APIUrl" value="http://staging.apps.emaar.com/AppointmentBookingAPI/"/>
  <!--<add key="APIUrl" value="http://localhost:50042/"/>-->
  <!--API URL for Customer calendar application Ends here-->

  <add key="CaptchaEnabled" value="1" />
  <add key="PGSERVICE_PROXYENABLED" value="0" />
  <add key="PROXYENABLED" value="1" />
  <add key="ProxyUserREQ" value="1" />
  <add key="ProxyAddress" value="proxy.emaar.ae" />
  <add key="ProxyPort" value="80" />
  <add key="ProxyUser" value="ssiddagowni.dicetek" />
  <add key="ProxyPassword" value="Nishu@789" />
  <!-- Service Settings finish-->

  <!-- Create Milestone Start-->
  <add key="P_SOURCE" value="ESERVICES" />
  <add key="P_LOGGED_IN_USER" value="ESERVICES" />
  <add key="P_ACTION" value="CREATE_MILESTONE" />
  <add key="P_MILESTONE_CC_ALT" value="CC ALT NOC" />
  <add key="P_MILESTONE_CC_ALT_REMARK" value="CC ALT NOC ONLINE" />
  <add key="P_MILESTONE_CC_ALT_Status_APPROVED" value="APPROVED" />
  <add key="P_MILESTONE_CC_ALT_Status_REJECTED" value="REJECTED" />
  <add key="P_MILESTONE_CC_ALT_Status_PAID" value="PAID" />
  <!-- Create Milestone End-->

  <!--for SR update -->
  <add key="BkSRCreationLoggedInUser" value="ESERVICES"/>
  <add key="BkSRCreationSource" value="WEB"/>
  <add key="SRCreationSource" value="WEB"/>
  <!--for SR update end-->


  <!-- Eservice settings start-->
  <add key="SecurityKeyForPortal" value="mypassword123456"/>
  <add key="ServiceSource" value="DUBAI"/>
  <!-- Eservice settings end-->

  <!-- Service Request Settings start-->
  <add key="GCCCountriesList" value="Bahrain|Kuwait|Oman|Qatar|Saudi Arabia|United Arab Emirates" />
  <add key="TransactionTypes" value="NOC FOR TRANSFER SR,NOC FOR NAME ADDITION,PRIMARY MARKET TRANSFER,NOC FOR NAME ADDITION - HO"/>

  <add key="SrAppSource" value="ESERVICES_WEBAPP"/>
  <add key="SrViewAction" value="VIEW_SR_SUMMARY"/>
  <add key="SrDetailsAction" value="VIEW_SR_DETAILS"/>
  <add key="SrAdditionalDetailsAction" value="VIEW_SR_ADDIT_DETAILS"/>
  <add key="SrUpdateAction" value="UPDATE_SR"/>
  <add key="DraftSrType" value="PENDING"/>
  <add key="ActualSrType" value="ACTUAL"/>
  <add key="SrFetchTypes" value="BOTH"/>
  <add key="SrDraftDeleteAction" value="DELETE"/>
  <add key="StandardRequestName" value="Standard Service Request"/>
  <add key="SrNoteType" value="ESERVICE_COMMENT"/>


  <add key="StandardRequestPriority" value="5"/>
  <add key="EditSrDefaultComments" value="Request updated"/>
  <add key="SrOtpMessage" value="Please enter the correct OTP."/>
  <add key="VisitorsDaysAccess" value="Days should be between 2 to 30 days."/>

  <add key="SakaniTargetSystem" value="SAKANI"/>
  <add key="LandRegistrationRequestName" value="LAND REGISTRATION"/>

  <add key="SRCommunityNameBK" value="BURJ KHALIFA"/>
  <add key="SRType" value="ORACLE"/>

  <!-- BK SR Settings Start-->
  <add key="BurjKhalifaSrGroup" value="BURJ KHALIFA SERVICE REQUESTS"/>
  <add key="CalendarInfoUser" value="ESERVICES"/>
  <add key="BkSrSource" value="BK_SR_ESERVICE_APP"/>
  <add key="BkSrLookupTable" value="SR_Type"/>
  <add key="BkSrLookupType" value="BK_SR_ESERVICE_APP"/>
  <add key="ProfileDefaultImg" value="/content/images/icons/profile-img.jpg"/>
  <!-- BK SR Settings finish-->

  <!-- Alteration Services Start-->
  <add key="AlterationSrType" value="CCDALT"/>
  <add key="AlterationGroupName" value="Alteration Services"/>
  <add key="AlterationDisplayName" value="Apply for Home Alterations"/>
  <add key="AlterationExpiredNOCDisplayName" value="Apply for NOC Renewal - Change/Add a Contractor"/>
  <add key="AlterationContractorUpdateDisplayName" value="Apply for Change/Add a Contractor"/>
  <add key="AlterationSkipPayment" value="true"/>
  <add key="AlterationSkipPaymentStartTime" value="2017/10/20 00:00:00"/>
  <add key="AlterationSkipPaymentEndTime" value="2017/10/22 23:59:00"/>
  <add key="AlterationSkipPaymentMessage" value="Admin fee waived off for Digital Day"/>
  <add key="AlterationMiscellaneousAdminFeeReason" value="Admin fees for Alteration"/>
  <add key="AlterationMiscellaneousAdminFeeComment" value=": Non Refundable admin fees for alteration"/>
  <add key="AlterationMiscellaneousRefundableReason" value="Security Deposit - Alteration"/>
  <add key="AlterationMiscellaneousRefundableComment" value=": Refundable security deposit  for Alterations Original receipt to be presented at the time of refund"/>
  <add key="AlterationOracleOpenStatus" value="Open"/>
  <add key="AlterationPaidStatus" value="Paid" />
  <add key="AlterationOracleNOCDownloadedStatus" value="NOC downloaded by CM"/>
  <add key="AlterationProblemSummary" value="Request for Alteration - Online App" />

  <!-- Alteration Services End-->

  <!-- As Build Drawing Services Start-->
  <add key="AsBuildDrawingGroupName" value="As Build Drawing Services"/>
  <add key="AsBuildDrawingDisplayName" value="Request for As Build Drawings"/>
  <add key="AsBuildDrawingSkipPayment" value="true"/>
  <add key="AsBuildDrawingSkipPaymentStartTime" value="2017/10/20 00:00:00"/>
  <add key="AsBuildDrawingSkipPaymentEndTime" value="2017/10/22 23:59:00"/>
  <add key="AsBuildDrawingSkipPaymentMessage" value="Admin fee waived off for Digital Day"/>
  <!-- As Build Drawing Services Start-->

  <!-- Villa Construction Services Start-->
  <add key="VillaConstructionGroupName" value="Alteration Services"/>
  <add key="VillaConstructionDisplayName" value="Villa Construction / Modification for Dubai Hills &amp; Emirates Hills"/>
  <!-- Villa Construction End-->

  <!-- Service Request Settings finish-->
  <add key="VerificationStatus" value="CORRECT"/>

  <!--electronic payment-->
  <add key="EPrcptToApply" value="APPLY_INV_TRX_ID"/>
  <add key="EPLOGGED_IN_USER" value="ESERVICES"/>
  <add key="EPSource" value="ESERVICES_APP"/>
  <add key="EPReceiptSeries" value="-CCeSrv"/>
  <add key="EPReceiptSeriesAmex" value="-CCeSrvAM"/>
  <add key="NocSpecialReceiptSeries" value="Digital_day/{TXN_Number}"/>
  <add key="DueDetailsSource" value="ESERVICES-IPAD"/>
  <add key="PaymentTypeForSakani" value="PAY_ONLY"/>
  <add key="PayForEntity" value="DUBAI"/>
  <add key="ElectronicPaymentAppId" value="ESERVICES_APP"/>
  <add key="SRAPPID" value="ESERVICE_APP_SR"/>
  <add key="PaymentGatewayEncryption" value="SHA256"/>
  <add key="MigratedTOSakaniAppId" value="ESERVICE_SAKANI"/>
  <add key="IDENTIFICATIONVALIDITY" value="IDENTIFICATIONVALIDITY"/>
  <!--electronic payment end-->

  <!--Net Banking payment-->
  <add key="AppId" value="eservice16042018"/>
  <add key="MerchantID" value="Test999900M006"/>
  <add key="ProductID" value="RETL"/>
  <add key="ReturnURL" value="http://staging.apps.emaar.com/UAEPGS/Home/MerchantReturn"/>
  <add key="SubMerchantID" value=""/>
  <add key="TxnExpiryDateTime" value="-1"/>
  <add key="SecretAPIkey" value="0123456789"/>
  <add key="PostNetBankinPaymentURL" value="http://staging.apps.emaar.com/UAEPGS/centralBank/directdebit/pay"/>
  <add key="NetBankingPaymentGateway" value="CBUAE"/>
  <add key="DirectDebitUrl" value="http://staging.apps.emaar.com/UAEPGS/Api/GetDirectDebitUrl"/>
  <add key="ProductList" value="http://staging.apps.emaar.com/UAEPGS/Api/GetBankProducts"/>
  <add key="BankList" value="http://staging.apps.emaar.com/UAEPGS/Api/GetBanks"/>
  <add key="AllowBuildingList" value="http://staging.apps.emaar.com/UAEPGS/Api/GetDDBuildings"/>
  <add key="NetBankingPaymentType" value="Direct Debit"/>
  <add key="EPReceiptSeriesNB" value="-CCeSrvNB"/>
  <add key="BankLimitMessage" value="Please note that to avoid rejection at the bank ensure that the selected amount is less than the allowed limit AED {0} by your bank." />
  <add key="CryptographySecurityKey" value="Lalakudoldappimakannaekannamamar"/>
  <add key="UAEPGSAuthUsername" value="0iigxNDmpgn+ytkI+ex/3A=="/>
  <add key="UAEPGSAuthPassword" value="VyrwJgWDUmRfIxGIU8jH5w=="/>
  <!--Net Banking payment end-->


  <!-- noc payment process-->
  <!--<add key="NocPaymentProcessInvTrxnId" value="eSrvs_NV" />-->
  <add key="NocPaymentProcessInvTrxnId" value="ESERVICES_WEB"/>
  <add key="NocPaymentProcessLoggedInUser" value="ESERVICES"/>
  <!-- noc payment process end-->

  <!-- As Built Drawing Request-->
  <add key="AsBuiltSrType" value="CC ALT AS BUILT CD"/>
  <add key="AsBuiltUrgType" value="Fees for ALT BUILT CD + VAT"/>
  <add key="AsBuiltUrgTypeCode" value="Fees for ALT BUILT CD + VAT"/>
  <!-- As Built Drawing Request-->


  <!-- MIGS Payment Gateway configuration -->
  <add key="vpc_URL" value="https://migs.mastercard.com.au/vpcpay"/>
  <add key="vpc_Version" value="1"/>
  <!--<add key="BurjCommunities" value="Armani Residences,Tall Tower,Zone 5,Burj Khalifa"/>-->
  <add key="vpc_Locale" value="en"/>
  <add key="vpc_Command" value="pay"/>
  <add key="vpc_Gateway" value="ssl"/>
  <add key="vpc_CurrencyCode" value="AED"/>
  <add key="MaxLoginAttempts" value="5"/>

  <add key="BuyerAmount" value="5000"/>
  <!--END MIGS Payment Gateway configuration-->

  <!-- filenet settings start-->
  <add key="SVEST_FNDocClassName" value="SVEST"/>
  <add key="SVEST_FNFolderPath" value="/PROPERTIES/Documents/SVEST"/>


  <add key="FNDocClassName" value="eServiceNOC"/>
  <add key="FNFolderPath" value="/Corp IT/eServiceNOC"/>
  <add key="FNuserName" value="fileupload_user"/>
  <add key="FNpassword" value="abcd1234$"/>
  <add key="FNosName" value="EMAARPROPOS"/>
  <add key="FNceUri" value="http://emrhofnappdev:9080/wsi/FNCEWS40MTOM"/>
  <add key="FNjaasStanza" value="FileNetP8WSI"/>
  <add key="MaxFileUploadSize" value="5000000"/>
  <add key="TempUploadFolder" value="Content/TempUploads"/>
  <add key="ScanFileConnect" value="SU"/>
  <add key="FileScanFailMessage" value="The file you provided did not pass our security checks and may contain malware. Kindly attach another file."/>
  <add key="AllowedAttachmentFileTypes" value=".jpeg,.jpg,.png,.gif,.doc,.docx,.xls,.xlsx,.ppt,.pptx,.pdf,.gif,.tif,.dwg,.dwf,.zip"/>
  <add key="FileTypeFailMessage" value="The attached ZIP file contains [@FileType] file. Only [@AllowedAttachmentFileTypes] filetypes are allowed"/>
  <!-- filenet settings end-->

  <!--File Download start-->
  <add key="URLAuthenUserName" value="p2=fileupload_user"/>
  <add key="URLAuthenPassword" value="p3=abcd1234$"/>
  <add key="URLAuthenEmaarProp" value="p4=EMAARPROPOS"/>
  <add key="URLAuthenFileNet" value="p5=FileNetP8WSI"/>
  <add key="SecurityKey" value="mypassword123456"/>
  <add key="SOAAUTHENTICATION" value="soauser:soauser123"/>
  <add key="dwg" value="application/acad"/>
  <add key="dwf" value="application/x-dwf"/>
  <!--File Download end-->

  <!--Passport Update start-->
  <add key="P_PRIORITY" value="2"/>
  <add key="P_OWNER_GROUP_ID" value="100000867"/>
  <add key="P_CALLER_RELATION" value="Landlord"/>
  <!--Passport Update end-->



  <!--staging settings finish -->

  <add key="ProfileAddressUpdate" value="ESERVICE_CUST_PROFILE_ADDRESS_UPDATE"/>
  <add key="ProfilePersonUpdate" value="ESERVICE_CUST_PROFILE_PERSON_UPDATE"/>
  <add key="BuyerUpdateMessage" value="Buyer information updated successfully."/>
  <add key="BuyerSessionExpiredMessage" value="Session expired. Please upload the required attachments."/>


  <add key="ProfileUpdateServiceUrl" value="http://soastage.emaar.ae/soa-infra/services/sales/IPhoneMobileIntProject/IPhoneMobileIntProcess_ep"/>

  <add key="PassportUpdateMessage" value="Your profile details has been updated in our system."/>

  <add key="AddressUpdateMessage" value="Your profile details has been updated in our system."/>

  <add key="EmailConfirmationMessage" value="Your email address has been updated in our system."/>

  <add key="PhoneConfirmationMessage" value="Your phone number has been updated in our system."/>

  <add key="ProfileUpdateErrorMessage" value="Please try after some time."/>

  <add key="ProfileEmailSetAsPrimaryErrorMessage" value="We are unable to set this email address as Primary. Selected email address does not exists."/>

  <add key="CourierAddressUpdateErrorMessage" value="We could not update your Courier information at this moment. Please contact us at our toll free number 800-EMAAR (800-36227). If calling from outside of the UAE please contact us on +971 4 366 1688"/>

  <add key="PassportRequiredMessage" value="To keep our records updated, we require your current passport details. Kindly update the below information to proceed."/>
  <add key="TradeLicenseRequiredMessage" value="To keep our records updated, we require your trade license details. Kindly update the below information to proceed."/>

  <add key="TransactionBlockedMessage" value="You cannot perform any transaction on this property. Please contact Customer Care at 800-EMAAR (36227). If calling from outside of the UAE please contact us on +971 4 366 1688"/>

  <add key="UnexpectedErrorMessage" value="We could not process your request at this moment. Please contact us at our toll free number 800-EMAAR (800-36227). If calling from outside of the UAE please contact us on +971 4 366 1688"/>

  <add key="SMSServiceURL" value="http://api.infobip.com/api/v3/sendsms/plain"/>
  <add key="SMSServiceUsername" value="EmrHosp"/>
  <add key="SMSServicePwd" value="EKLGXhaY"/>

  <add key="NoAccountMessage" value="You have to be a Property Owner to access Emaar E-service."/>
  <add key="NoPropertyAssignedMessage" value="You do not have a property linked to your account. Please contact 800-EMAAR (800-36227). If calling from outside of the UAE please contact us on +971 4 366 1688"/>
  <add key="InvalidCredentialsMessage" value="The email or password is incorrect."/>
  <add key="ServicesDownMessage" value="Cannot access the sytem at this moment. Kindly try after sometime."/>

  <!--NOC Keys-->
  <add key="SecurityKeyForPortal" value="mypassword123456"/>
  <add key="PaymentGatewayKeys" value="AgainLink,appId,createInvTrxnId,vpc_AccessCode,vpc_Amount,vpc_Command,vpc_Locale,vpc_MerchTxnRef,vpc_Merchant,vpc_OrderInfo,vpc_ReturnURL,vpc_TicketNo,vpc_Version,vpc_card,vpc_gateway"/>
  <add key="SRAPPID" value="ESERVICE_APP_SR"/>
  <add key="BKSRAPPID" value="BKESERVICE_APP_SR"/>
  <add key="createInvTrxnId" value="eSrvs_LR"/>
  <add key="APPNAME" value="ESERVICE_IPAD_APP"/>
  <!--END NOC keys-->

  <!-- System Update-->
  <add key="SystemUpdateSrType" value="Secondary Market Transfer"/>
  <add key="SystemUpdateProblemCode" value="SYSTEM_UPDATE"/>
  <add key="SystemUpdateProblemDescription" value="System Update"/>
  <add key="SystemUpdatePriority" value="1"/>
  <add key="SystemUpdateGroupId" value="100000827"/>
  <!-- System Update end-->

  <add key="EOPDF" value="0M2fr9z2BBTup7SmwuKhWabCnrWfWZekzR7ooOXlBSDxnrW30uDwZK/o5wXiZKq7x/Wwfduz8yDAdrTAwB7ooOXlBSDxnrWRm+eupeDn9hnynrWRm3Xj7fQQ7azcwp61n1mXpM0X6Jzc8gQQyJ21uMHbtHKtvMXbuHKktc3a66La6f8e5ILbwp61n1mXpM0X6Jzc8gQQ5Hezs/0U4p7l9/YQvUaBpLHLn3XY8P0a9neEjrHLn1mXpLHLu5rb6LEf+KncwbPwzmfH6PfNn6/c9gQU7qe0psLirWmZpMDpjEOXpLHLu2jY8P0a9neEjrHLn1mz8wMP5KvA8vcan53Y+PbooW2mtcPasWmou7PL8q7ZyQkb6Kvc99IfvFurs8Ldrmuntck="/>

  <add key="GccCountries" value="BAHRAIN,KUWAIT,OMAN,QATAR,SAUDI ARABIA,UNITED ARAB EMIRATES"/>
  <add key="PaymentGatewayKeys" value="AgainLink,appId,createInvTrxnId,vpc_AccessCode,vpc_Amount,vpc_Command,vpc_Locale,vpc_MerchTxnRef,vpc_Merchant,vpc_OrderInfo,vpc_ReturnURL,vpc_TicketNo,vpc_Version,vpc_card,vpc_gateway"/>

  <add key="EnableRequestLogs" value="1"/>
  <add key="EnableDisclaimerLogs" value="1"/>

  <add key="BannerImage" value="banner.jpg"/>
  <add key="BannerStartTime" value="2017/10/16 00:00:00"/>
  <add key="BannerEndTime" value="2017/10/23 23:59:00"/>

  <add key="AlterationRenewalFeeCategory" value="Renewal of Expired NOC"/>
  <add key="AlterationRenewalMiscAdminFeeReason" value="Admin fees for NOC Renewal"/>
  <add key="AlterationRenewalMiscAdminFeeComment" value=": Non Refundable admin fees for NOC renewal"/>

  <add key="PassportExpireDisplayMessage" value="To keep our records updated, please upload your latest passport and continue using our online services. Once the passport details are updated, you will be able to update your profile details."/>
  <add key="TradeLicenseExpireDisplayMessage" value="To keep our records updated, please upload your latest trade license and continue using our online services. Once the trade license details are updated, you will be able to update your profile details."/>

  <!--Customer Appointments Service starts here-->
  <add key="FCU" value="1"/>
  <add key="PestControl" value="2"/>
  <add key="AlterationInspection" value="3"/>
  <add key="HomeOrientationServiceId" value="4" />


  <add key ="FCUStartTime" value="08:00:00"/>
  <add key ="FCUEndTime" value="18:00:00"/>
  <add key ="PestControlStartTime" value="10:00:00"/>
  <add key ="PestControlEndTime" value="16:00:00"/>
  <add key="InspectionStartTime" value="08:00:00" />
  <add key="InspectionEndTime" value="18:00:00" />
  <add key="HomeOrientationStartTime" value="08:00:00" />
  <add key="HomeOrientationEndTime" value="16:30:00" />


  <add key="PropertyServiceUrl" value= "http://soastage.emaar.ae:80/soa-infra/services/eServMobile/eServiceExtnProject/eserviceextnprocess_client_ep" />
  <!--Customer Appointments Service ends here-->

  <add key="PhoneUpdateThresholdInDays" value="180"/>
  <add key="EmailUpdateThresholdInDays" value="180"/>

</appSettings>