<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="isProxyEnabled" value="True" />
    <add key="ProxyURL" value="http://proxy.emaar.ae:80/" />
    <add key="ProxyUserName" value="ssiddagowni.dicetek@emaar.ae" />
    <add key="ProxyPassword" value="Accessme@789" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="EnableServiceLog" value="N" />
    <add key="IsAuthenticationOn" value="1" />
    <add key="OdataUrl" value="https://stagingpartners.reelcinemas.ae/WSVistaWebClient/Odata.svc" />
    <add key="RestdataUrl" value="https://stagingpartners.reelcinemas.ae/WSVistaWebClient/RESTData.svc" />
    <add key="RestTicketingUrl" value="https://stagingpartners.reelcinemas.ae/WSVistaWebClient/RESTTicketing.svc" />
    <add key="RESTBookingUrl" value="https://stagingpartners.reelcinemas.ae/WSVistaWebClient/RESTBooking.svc" />
    <add key="InfluxBaseURL" value="http://stagingnew.reelcinemas.ae/WebApi/api" />
    <add key="InfluxAccessToken" value="9f6cf0fd-acd8-4ad1-97ac-b30f2c6a457b" />
    <add key="authUserName" value="ReelMobileUser" />
    <add key="authPassword" value="jBTreRZWptVnjWZ0trAIwQ==" />
    <add key="SecurityKeyForPortal" value="mypassword123456" />
    <add key="weburl" value="https://stagingnew.reelcinemas.ae/en" />
    <add key="WebsiteServerPath" value="E:\www\RCLive\en" />
    <add key="PassbookPassTypeIdentifier" value="pass.com.emaartechnologies.reelcinema" />
    <add key="PassbookCertThumbprint" value="55ed61eacfcc409f9a0327c10438aa4e98dfea1f" />
    <add key="PassbookTeamIdentifier" value="4LWX2FD83T" />

    <add key="ConfigurationJSONPath" value="C:\Sridhar\Azure_Projects\EEG-ReelCinemasRESTAPI2\EEG-ReelCinemasRESTAPI\Repository\RC_MobileAPP_Configuration.json" />
    <add key="SessionListJSONPath" value="C:\Sridhar\Azure_Projects\EEG-ReelCinemasRESTAPI2\EEG-ReelCinemasRESTAPI\Repository\MoviesSession_MobileApp.json" />
    <add key="ExceptionFolder" value="C:\ReelTicketingEmailScheduler\MobBarcode\Debug\Exception\" />

    <add key="PaymentResponseURL" value="http://localhost/EEG-ReelCinemasRESTAPI/PaymentResponse.aspx" />
    <add key="PaymentConfirmationURL" value="http://localhost/EEG-ReelCinemasRESTAPI/PaymentConfirmation.aspx" />


    <add key="NoonPaymentAuthKey" value="KEY_TEST ZWVfcmVlbGNpbmVtYS5SZWVsU3RhZ2luZzo0NjA3MDU3ZDIwM2I0YzA1YWYyYTNiZmFjOTdhMjNkMw==" />
    <add key="NoonPaymentOrderURL" value="https://api.noonpayments.com/payment/v1/order/" />
    <add key="NoonPaymentCreateTokenURL" value="https://api.noonpayments.com/payment/v1/token" />
    <add key="NoonPaymentCategory" value="3ds" />

    <add key="VistaAPIToken" value="68L120Vmrh3ac6rYdmkxQYggdiFV1Sm6" />
    <add key="SMSBarcode" value="https://reelcinemas.ae/B/B/q" />
    <add key="SMSSendBarcode" value="True" />
    <add key="MailServer" value="Mailgw.emaar.ae" />
    <add key="MailComponent" value="net" />
    <add key="SmtpMailId" value=" noreply@reelcinemas.ae" />
    <add key="SmtpMailPwd" value="" />
    <add key="SmtpMailPort" value="25" />
    <add key="SmtpEnableSsl" value="true" />
    <add key="MailBCC" value="ssiddagowni.dicetek@emaar.ae" />

    <add key="InfluxAESkey" value="1234808080808080" />
    <add key="InfluxAESIv" value="1234808080808080" />

    <add key="AndriodAPIToken" value="68L120Vmrh3ac6rYdmkxQYggdiFV1Sm6" />
    <add key="IOSAPIToken" value="68L120Vmrh3ac6rYdmkxQYggdiFV1Sm6" />

    <add key="AndriodOptClientID" value="211.211.111.7" />
    <add key="IOSOptClientID" value="211.211.111.7" />

    <add key="AndriodSalesChannel" value="MOBIL" />
    <add key="IOSSalesChannel" value="MOBIL" />

    <add key="APIBaseURL" value="http://stagingmobileapi.emaar.com/ReelMobileRestService" />

    <add key="BookingVAT" value="0.05" />

    <add key="pkpassPath" value="E:\Web\EEG-ReelCinemasRESTAPI\pkpass" />

    <add key="SMSServiceURL" value="http://api.infobip.com/api/v3/sendsms/plain" />
    <add key="SMSServiceUsername" value="EmrHosp" />
    <add key="SMSServicePwd" value="EKLGXhaY" />

    <add key="ProxyUserREQ" value="0" />
    <add key="ProxyAddress" value="proxy.emaar.ae" />
    <add key="ProxyPort" value="80" />

    <add key="PublicFolderPath" value="D:\home\site\wwwroot\PublicFiles\" />
  </appSettings>

  <connectionStrings>
  <add name="ServicesConString" connectionString="Data Source=tcp:pocservices.database.windows.net,1433;User ID=pocuser;Password=abcd1234$;Initial Catalog=EpicServices"
   providerName="System.Data.SqlClient" />
  <system.web>
    <trust level="Full" originUrl=""/>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>-->
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
