
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="sl-main-section">
    <div class="container">


        <div class="row justify-content-center">
            <div class="col-lg-9 col-xl-8">
                <div class="sl-sectionHead">
                    <div class="sl-sectionHead__title sl-below-line sl-below-line__active">
                        <h2>{t("MostVisitedCatogoriesTitle")}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="sl-category sl-row">
            <div class="sl-col sl-col-sm-1-of-2 sl-col-md-1-of-3 sl-col-lg-1-of-4 sl-col-xl-1-of-5">
                <div class="sl-category__service">
                    <img src="images/index/category/img-01.jpg"
                         alt="image Description" />
                    <div class="sl-category__description">
                        <h5>{t("MasterServices.Service1")}</h5>
                        <span>4564 {t("ProvidersTxt")}</span>
                    </div>
                    <a href="javascript:void(0);" class="sl-category__icon">
                        <i class="ti-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="sl-col sl-col-sm-1-of-2 sl-col-md-1-of-3 sl-col-lg-1-of-4 sl-col-xl-1-of-5">
                <div class="sl-category__service">
                    <img src="images/index/category/img-02.jpg"
                         alt="image Description" />
                    <div class="sl-category__description">
                        <h5>{t("MasterServices.Service2")}</h5>

                        <span>11,756 {t("ProvidersTxt")}</span>
                    </div>
                    <a href="javascript:void(0);" class="sl-category__icon">
                        <i class="ti-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="sl-col sl-col-sm-1-of-2 sl-col-md-1-of-3 sl-col-lg-1-of-4 sl-col-xl-1-of-5">
                <div class="sl-category__service">
                    <img src="images/index/category/img-03.jpg"
                         alt="image Description" />
                    <div class="sl-category__description">
                        <h5>{t("MasterServices.Service3")}</h5>

                        <span>11,125 {t("ProvidersTxt")}</span>
                    </div>
                    <a href="javascript:void(0);" class="sl-category__icon">
                        <i class="ti-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="sl-col sl-col-sm-1-of-2 sl-col-md-1-of-3 sl-col-lg-1-of-4 sl-col-xl-1-of-5">
                <div class="sl-category__service">
                    <img src="images/index/category/img-04.jpg"
                         alt="image Description" />
                    <div class="sl-category__description">
                        <h5>{t("MasterServices.Service4")}</h5>

                        <span>10,045 {t("ProvidersTxt")}</span>
                    </div>
                    <a href="javascript:void(0);" class="sl-category__icon">
                        <i class="ti-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="sl-col sl-col-sm-1-of-2 sl-col-md-1-of-3 sl-col-lg-1-of-4 sl-col-xl-1-of-5">
                <div class="sl-category__service">
                    <img src="images/index/category/img-05.jpg"
                         alt="image Description" />
                    <div class="sl-category__description">
                        <h5>{t("MasterServices.Service5")}</h5>

                        <span>10,575 {t("ProvidersTxt")}</span>
                    </div>
                    <a href="javascript:void(0);" class="sl-category__icon">
                        <i class="ti-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="sl-col sl-col-sm-1-of-2 sl-col-md-1-of-3 sl-col-lg-1-of-4 sl-col-xl-1-of-5">
                <div class="sl-category__service">
                    <img src="images/index/category/img-06.jpg"
                         alt="image Description" />
                    <div class="sl-category__description">
                        <h5>{t("MasterServices.Service6")}</h5>

                        <span>9,245 {t("ProvidersTxt")}</span>
                    </div>
                    <a href="javascript:void(0);" class="sl-category__icon">
                        <i class="ti-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="sl-col sl-col-sm-1-of-2 sl-col-md-1-of-3 sl-col-lg-1-of-4 sl-col-xl-1-of-5">
                <div class="sl-category__service">
                    <img src="images/index/category/img-07.jpg"
                         alt="image Description" />
                    <div class="sl-category__description">
                        <h5>{t("MasterServices.Service7")}</h5>

                        <span>9,421 {t("ProvidersTxt")}</span>
                    </div>
                    <a href="javascript:void(0);" class="sl-category__icon">
                        <i class="ti-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="sl-col sl-col-sm-1-of-2 sl-col-md-1-of-3 sl-col-lg-1-of-4 sl-col-xl-1-of-5">
                <div class="sl-category__service">
                    <img src="images/index/category/img-08.jpg"
                         alt="image Description" />
                    <div class="sl-category__description">
                        <h5>{t("MasterServices.Service8")}</h5>

                        <span>7,123 {t("ProvidersTxt")}</span>
                    </div>
                    <a href="javascript:void(0);" class="sl-category__icon">
                        <i class="ti-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="sl-col sl-col-sm-1-of-2 sl-col-md-1-of-3 sl-col-lg-1-of-4 sl-col-xl-1-of-5">
                <div class="sl-category__service">
                    <img src="images/index/category/img-09.jpg"
                         alt="image Description" />
                    <div class="sl-category__description">
                        <h5>{t("MasterServices.Service9")}</h5>

                        <span>5,058 {t("ProvidersTxt")}</span>
                    </div>
                    <a href="javascript:void(0);" class="sl-category__icon">
                        <i class="ti-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="sl-col sl-col-sm-1-of-2 sl-col-md-1-of-3 sl-col-lg-1-of-4 sl-col-xl-1-of-5">
                <div class="sl-category__service">
                    <img src="images/index/category/img-10.jpg"
                         alt="image Description" />
                    <div class="sl-category__description">
                        <h5>{t("MasterServices.Service10")}</h5>

                        <span>4,982 {t("ProvidersTxt")}</span>
                    </div>
                    <a href="javascript:void(0);" class="sl-category__icon">
                        <i class="ti-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>